<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magegang, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="humansResultPage" type="Magento\Framework\View\Result\Page">
        <arguments>
            <argument name="template" xsi:type="string">Magegang_Humans::humans.phtml</argument>
        </arguments>
    </virtualType>
    <virtualType name="humansResultPageFactory" type="Magento\Framework\View\Result\PageFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">humansResultPage</argument>
        </arguments>
    </virtualType>
    <type name="Magegang\Humans\Controller\Index\Index">
        <arguments>
            <argument name="resultPageFactory" xsi:type="object">humansResultPageFactory</argument>
        </arguments>
    </type>
</config>
